Package                 Version
----------------------- -------
asgiref                 3.2.3
Django                  3.0.2
django-filter           2.2.0
djangorestframework     3.11.0
dnspython               1.16.0
gencpp                  0.6.2
geneus                  2.2.6
genlisp                 0.4.16
genmsg                  0.5.12
gennodejs               2.0.1
genpy                   0.6.9
Markdown                3.1.1
mysql-connector-python  8.0.19
mysqlclient             1.4.6
numpy                   1.18.1
pip                     19.3.1
protobuf                3.6.1
pytz                    2019.3
setuptools              45.1.0
six                     1.14.0
sqlparse                0.3.0
wheel                   0.33.6